[submodule "externals/Unity"]
	path = externals/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "externals/CMake-codecov"]
	path = externals/CMake-codecov
	url = ../CMake-codecov.git